*{
    padding: 0%;
    margin: 0%;
    color: #FFF6F4;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 80%;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #525FE1;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF6F4;
   
}
.card{
    width: 100%;
    height: 100%;
    display: flex;
}
.addButton{
    display: flex;
    justify-content: center;
    bottom: 2vh;
    right:2vw;
   position: absolute;
    width: 12vmin;
    height: 12vmin;
    object-fit: cover;
    margin: 2vmax;
    
}
.addButton button{
    background-color: #FFA41B;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 5vmax;
   
}
.addButton button:hover{
    background-color: #FFA41B;
    opacity: 100%;

}
