*{
    padding: 0%;
    margin: 0%;
   
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80%;
}
.navbar{
    color: #FFF6F4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #525FE1;
}


.cards{
    display: flex;
    flex-wrap:wrap;
    overflow-x: hidden;
}
.card{
    width:205Px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
}
.card img{
    width: 170px;
    height: auto;
    
}

.addButton{
    color: #FFF6F4;
    display: flex;
    justify-content: center;
    bottom: 2vh;
    right:2vw;
   position: absolute;
    width: 12vmin;
    height: 12vmin;
    object-fit: cover;
    margin: 2vmax;
    
}
.addButton button{
    color: #FFF6F4;
    background-color: #FFA41B;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 5vmax;
   
}
.addButton button:hover{
    background-color: #FFA41B;
    opacity: 100%;

}
#bookDial{
    color: black;
   width: 20vw;
   height: 50vh;
   margin: auto;
}
#bookDial form{
    display: flex;
    flex-direction: column;
    color: black;
    padding: 2vh;
}
#bookDial form div{
    display: flex;
    flex-direction: column;
}
#bookDial form button{
    width: 35%;
}
.dialogBox{
    width: 10%;
    height:10%;
}